header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition:
        inset .5s ease-in,
        transform .3s ease-in,
        opacity .3s ease-in,
        visibility .3s ease-in;
    background: linear-gradient(to bottom, #25211e 0, #25211e00 100%);
}

header a {
    color: white;
}

header svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: white;
    transition: all .2s ease;
}

.header-white,
.header-white a {
    color: black;
}

.callout {
    background-color: #dc1f18;
    color: white;
    font-size: 0.85rem;
    font-weight: 400;
    min-height: 50px;

    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
    height: 0;
}

.callout.visible {
    display: flex;
    visibility: visible;
    height: fit-content;
}

.callout .content {
    margin: 0.5rem 0;
    padding: 0 10px;
    text-align: center;
}

.callout a {
    color: white !important;
    text-decoration: underline;
}

.header-white .main-nav {
    background-color: white;
}

.main-nav {
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-white .main-nav {
    border-bottom: 1px solid #00000033;
}

div.logo {
    margin: 0 auto;
    height: 70px;
    font-family: "Times New Roman", Times, serif;
}

a.logo {
    float: none;
    display: inline-block;
    max-width: 100%;
    margin: 0;
    position: relative;
    padding: 20px 0;
}

.logo img {
    width: 158px;
    height: 20px;
}

input[type="search"] {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    border: 0 none;
    font-size: 10.5px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 5px 7.5px 5px 40px;
    height: 38px;
}

input[type="search"].transparent {
    background-color: rgba(241, 241, 241, 0.3);
    color: #fff;
}

input[type="search"].transparent::placeholder {
    color: #fff;
    font-weight: 400;
}

form {
    position: relative;
    width: 100%;
    max-width: 780px;
    display: flex;
}

.btn-dismiss {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 33%;
    right: 30px;
    color: #ffffffaa;
}

.header-white .btn-dismiss,
.header-white .btn-search,
.header-white nav.search {
    color: black;
}

.header-white nav.search {
    background-color: white;
}

.header-white input[type="search"] {
    background-color: #f1f1f1;
    color: #757575;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

nav.search .btn-search {
    position: absolute;
    top: 15%;
    left: 4px;
}

nav.search .btn-search:hover {
    color: #dc1f18;
    transition: color .3s;
}

nav.search .flex {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 24px;
}

nav.search {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    height: 70px;
    z-index: -1;
    transition:
        color .3s ease-in,
        transform .3s ease-in,
        opacity .3s ease-in,
        visibility .3s ease-in;
}

:global(nav.search[aria-hidden="false"]) {
    transform: translateY(0) !important;
}

:global(nav.search[aria-hidden="true"]) {
    transform: translateY(-100%) !important;
    visibility: hidden;
}

:global(nav.search[aria-hidden="true"] .btn-search) {
    color: transparent;
}

.menu-open nav.search {
    transform: translateY(-100%) !important;
    visibility: hidden;
    transition: all .3s ease;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.menu li {
    padding: 8px;
}

.menu a {
    text-decoration: none;
}

.mini-right {
    position: absolute;
    right: 20px;
    top: 25%;
    z-index: 10;
}

.menu-search {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    transition: all .2s ease-in;
    height: 120px;
    box-sizing: border-box;
    padding: 16px 24px;
    line-height: 24px;
    background-color: white;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.menu-search.top {
    box-sizing: content-box;
}

.menu-search img {
    width: 158px;
    margin-top: 8px;
}

.menu-search form {
    position: relative;
    width: 100%;
    max-width: 780px;
}

.menu-search input {
    background-color: #f1f1f1;
    color: #757575;
}

.menu-search .btn-search {
    position: absolute;
    top: 15%;
    left: 4px;
    color: black;
}

.menu-search .btn-search:hover {
    color: #dc1f18;
}

.menu-search .btn-dismiss {
    background-color: transparent;
    color: #000000;
    position: static;
}

@media (max-width: 1280px) {
    .menu {
        position: fixed;
        top: 70px;
        width: 100vw;
        bottom: 0;
        background-color: white;
        z-index: 10;
        transition: all .2s ease;
        overflow: auto;
        transform: translateX(-100%);
        text-transform: uppercase;
        border-top: 1px solid #00000033;
        display: flex;
        flex-direction: column;
    }

    .menu-open .main-nav {
        background-color: white;
    }

    .menu-open,
    .menu-open a,
    .menu-open svg {
        color: black;
    }

    .menu-open .menu {
        transform: translateX(0);
    }

    .mini-right a {
        color: white;
        margin-left: 15px;
    }

    .header-white .mini-right a {
        color: black;
    }

    .mini-right .btn-search[aria-hidden="true"] {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .mini-left button {
        vertical-align: middle;
        top: 25%;
        left: 8px;
        color: white;
    }

    .mini-right,
    .mini-left button {
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }

    .mini-right * {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .mini-left,
    .mini-right {
        visibility: visible;
        transition: all .2s ease;
    }

    .menu .underline {
        color: black;
        display: block;
        position: relative;
    }

    .menu a:hover {
        color: #dc1f18;
    }

    .menu .underline:after {
        background-color: #dc1f18;
    }

    .menu ul {
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
    }

    .menu .underline::before {
        content: "\e901";
        font-family: 'icomoon';
        font-size: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 20px;
        line-height: 20px;
        overflow: hidden;
        transition: transform .2s ease-in;
        color: inherit;
    }

    .menu-left {
        order: 1;
    }

    .menu-right {
        border: 1px solid #00000033;
        border-left: 0;
        border-right: 0;
        margin: 20px 30px 20px 20px;
    }

    .menu-right ul {
        margin: 40px 0 25px;
        padding-bottom: 1px;
    }

    .menu-right li {
        padding: 0;
        margin-bottom: 15px;
        line-height: 24px;
    }

    .menu-right a {
        line-height: 24px;
        display: flex;
        align-items: center;
    }

    .menu-right svg {
        color: inherit;
    }

    .menu-right span {
        margin-left: 10px;
        font-size: 16px;
        letter-spacing: 0;
    }

    .menu-right .search {
        display: none;
    }

    .menu-search {
        transform: translateX(200%);
    }
}

@media (min-width: 1280px) {
    nav.search {
        transform: translateY(-100%);
        visibility: hidden;
    }

    header[aria-hidden="true"] {
        top: -100%;
        opacity: 0;
        visibility: hidden;
    }

    .mini-left,
    .mini-right .btn-search {
        visibility: hidden;
        display: none;
    }

    .mini-right {
        right: 30px;
        top: 40%;
        z-index: 10;
    }

    .menu {
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        background-color: transparent;
        text-transform: uppercase;
        font-size: 14px;
    }

    .header-white a:hover {
        color: #dc1f18;
    }

    .underline:after {
        background-color: white;
    }

    .header-white .underline::after {
        background-color: #dc1f18;
    }

    .menu-left {
        padding-left: 25px;
        order: -1;
        flex: 0 1 50%;

        display: flex;
        align-items: center;
    }

    .menu-right {
        order: 0;
        flex: 0 1 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 90px;
    }

    a.logo {
        padding: 30px 0;
    }

    .menu-right a {
        display: flex;
    }

    .menu-right span {
        display: none;
    }

    .menu-bottom {
        order: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        min-height: 50px;
        margin-top: 10px;
    }

    .menu-left ul,
    .menu-right ul,
    .menu-bottom ul {
        display: inline-flex;
    }

    .menu-right ul {
        gap: 40px;
    }

    .menu-right li {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .menu-right a,
    .user {
        position: relative;
    }

    .menu-right a span,
    .user::after {
        display: block;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 9px;
        position: absolute;
        letter-spacing: .5px;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        line-height: 9px;
        opacity: 0;
        transition: opacity .2s ease-in;
    }

    .user::after {
        content: "My account";
        bottom: -10px;
    }

    .menu-right a:hover span,
    .user:hover::after {
        opacity: 1;
    }

    .intl {
        order: -1;
    }

    .menu-right .search {
        order: -2;
    }

    .menu-right .search button {
        text-transform: uppercase;
        background-color: #f1f1f14d;
        color: white;
        width: 200px;
        height: 38px;
        display: flex;
        align-items: center;
        text-align: left;
        border-radius: 50px;
        font-size: 12px;
        padding: 8px;
        margin-bottom: 0;
        transition: all .2s ease-in;
    }

    .header-white .menu-right .search button {
        background-color: #f1f1f1;
        color: black;
    }

    .menu-right .search button span {
        margin: 2px 0 0 8px;
        display: inline;
    }

    .menu-right .search button:hover {
        color: #dc1f18;
    }

    .header-white .menu-bottom {
        background-color: white;
        color: black;
    }

    .menu-search[aria-hidden="true"] {
        transform: translateX(200%);
    }

    .menu-search[aria-hidden="false"] {
        transform: translateX(0);
    }
}