@import url('./assets/fonts.css');

body {
  margin: 0;
  line-height: inherit;
  min-height: 100vh;
  font-family: 'Tissot Sans', 'Noto Sans', Arial, Helvetica, sans-serif;
  color: #252525;
  font-size: 1.6rem;
  transition: all .2s ease-in;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  line-height: 1.6em;
}

.btn-primary {
  display: inline-flex;
  /* margin-top: 20px; */
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 0.75rem;
  letter-spacing: 2px;
  width: 100%;
  max-width: 19rem;
  height: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.btn-primary:not(:hover) {
  background-color: #dc1f18;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #1b1b1b;
  color: white;
}

.btn-primary:focus {
  border-color: #fff;
  box-shadow: 0 0 8px #dc1f18cc;
  outline: 1px dashed red;
  outline-offset: 5px;
}

input:focus {
  outline: .5px solid transparent;
  outline-color: #2563eb;
}

img {
  max-width: 100%;
  height: auto;
}

/* .m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.p-auto {
  padding: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
} */